/ptacticas/nbproject/private/
/Taller_Java_Nro2/nbproject/private/
/Entrenamiento/nbproject/private/
/practicas/build/
/Games/nbproject/private/
/Games/build/
/parcialprogramacion/nbproject/private/
/parcialprogramacion/build/
/Number_Rice/nbproject/private/
/Number_Rice/build/